#phone {
  margin-right: 50px;
}
#email{
  margin-right: 50px;
}
  .my-photo {
    height: 150px;
    border-radius: ;
  }

  div{
    display: inline;
  }
  h2{
    background-color: aqua;
  }

h2{background-color: gray;}  


